*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #041c3c;
    font-family: Arial;
    color: white;
}

/* MENU */
.menu{
    background: #021126;
    padding: 20px 0;
}

/* HERO */
.hero{
    padding: 100px 0;
}

.titulo{
    font-size: 70px;
    font-weight: bold;
}

.descricao{
    font-size: 22px;
    margin: 20px 0;
}

.imagem-banner{
    border-radius: 20px;
    max-height: 600px;
}

/* JOGOS */
.jogos{
    padding: 80px 0;
    background: white;
    color: black;
}

.card-jogo{
    background: #f4f4f4;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    transition: 0.3s;
}

.card-jogo:hover{
    transform: translateY(-10px);
}

/* =========================
   PÁGINA ESCALAÇÃO
========================= */

.escalacao{
    min-height: 100vh;
    padding: 60px 20px;

    background:
    linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
    url('https://images.unsplash.com/photo-1486286701208-1d58e9338013?q=80&w=1600&auto=format&fit=crop');

    background-size: cover;
    background-position: center;
}

/* TÍTULO */
.titulo-esc{
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: white;
    margin-bottom: 60px;
}

/* CAMPO */
.campo{
    max-width: 1200px;
    margin: auto;
}

/* LINHAS */
.linha{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-bottom: 70px;
}

/* GOLEIRO */
.goleiro{
    margin-bottom: 90px;
}

/* ZAGA */
.zaga{
    justify-content: space-around;
}

/* MEIO */
.meio{
    justify-content: space-evenly;
}

/* ATAQUE */
.ataque{
    justify-content: space-between;
}

/* CARD */
.jogador{
    width: 230px;
    background: rgba(255,255,255,0.96);
    border-radius: 22px;
    overflow: hidden;
    transition: 0.3s;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

.jogador:hover{
    transform: translateY(-10px);
}

/* FOTO */
.jogador img{
    width: 100%;
    height: 270px;
    object-fit: cover;
}

/* CONTEÚDO */
.info{
    padding: 20px;
}

/* NOME */
.info h3{
    font-size: 24px;
    font-weight: bold;
    color: #111;
    margin-bottom: 5px;
}

/* POSIÇÃO */
.info span{
    color: #009c3b;
    font-weight: bold;
    font-size: 18px;
}

/* COMENTÁRIO */
.info p{
    margin-top: 15px;
    color: #555;
    font-size: 15px;
    line-height: 22px;
}

/* RESPONSIVO */
@media(max-width: 1100px){

    .linha{
        flex-wrap: wrap;
        gap: 30px;
    }

    .jogador{
        width: 180px;
    }

    .jogador img{
        height: 220px;
    }

}

@media(max-width: 768px){

    .titulo-esc{
        font-size: 40px;
    }

    .jogador{
        width: 160px;
    }

    .jogador img{
        height: 180px;
    }

}

.btn-inicio{
    background: #ffd700;
    color: #041c3c;
    font-weight: bold;
    padding: 14px 35px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s;
    display: inline-block;
    box-shadow: 0 5px 15px rgba(255,215,0,0.4);
}

.btn-inicio:hover{
    background: #ffcc00;
    transform: translateY(-4px);
    color: #041c3c;
    box-shadow: 0 8px 20px rgba(255,215,0,0.6);
}
.audio-player{
    width: 100%;
    max-width: 500px;

    margin: 30px auto 50px auto;

    background: rgba(255,255,255,0.12);

    backdrop-filter: blur(10px);

    padding: 25px;

    border-radius: 20px;

    text-align: center;

    border: 1px solid rgba(255,255,255,0.2);

    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

.audio-player h3{
    color: white;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
}

.audio-player audio{
    width: 100%;
    border-radius: 50px;
}